# macos
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
./Icon?

# windows
ehthumbs.db
Thumbs.db

# ide
/.idea/
/.fleet/
/.run/

#composer
composer.lock
/composer.phar
/auth.json
/vendor/*

# qa tools
.phpcs-cache
phpcs.xml
